@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

html {
  font-family: "Do Hyeon", sans-serif;
  letter-spacing: 2px;
}
body {
  background-color: #000;
  color: #fff8ee;
  width: 100%;
}
header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000;
}
#logo {
  display: none;
  grid-area: logo;
  width: 30px;
  height: 30px;
  margin: 10px;
  border-radius: 50%;
  background-color: #fff8ee;
  background-image: url("../images/icon.png");
  background-size: cover;
}
nav {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav > a {
  display: block;
  color: #fff8ee;
  font-size: 0.8em;
  padding: 0 5px;
}
section {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-wrap {
  width: 70%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 500px;
}
.card-wrap:hover .card {
  transform: rotateY(180deg);
}
.card-wrap > .card {
  width: 70%;
  height: 90%;
  background-color: #7894ff;
  position: relative;
  transition: 1s;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}
.card-wrap > .card > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.card-wrap > .card > .front {
  z-index: 1;
}
.card-wrap > .card > .front > p:nth-child(1) {
  width: 96%;
  height: 70%;
  margin: 2% auto;
  font-size: 10rem;
  text-align: center;
}
.card-wrap > .card > .front > p:nth-child(2) {
  font-size: 2rem;
  text-align: center;
}
.card-wrap > .card > .back {
  text-align: center;
  transform: rotateY(180deg);
  background-color: #7894ff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
section#about{
    background-color: #ffade0;
}
section#info {
  color: #fff8ee;
  background-color: #000;
  display: block;
}
section#info > .contact {
  color: #222;
  background-color: #ffdb43;
}
section#lecture {
  color: #fff8ee;
  background-color: #7894ff;
}
section#project {
  color: #222;
  background-color: #000;
}
section#footer {
  color: #fff8ee;
  background-color: #ff7717;
}

#wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (min-width: 1000px) {
  #wrapper {
    flex-direction: row;    
  }
  section{
    width: 33.33333%;
  }
  section:nth-child(4){
    width: 60%;
  }

  header {
    justify-content: space-between;
  }
  #logo {
    display: block;
  }
  nav > a {
    font-size: 30px;
    padding-right: 50px;
  }
}
